
@{
    ViewData["Title"] = "ระบบจัดการทะเบียนรถ";
    // ชื่อเซิฟเวอร์
    var Name_server = "OneTimeOnly";
}

<h1>ระบบจัดการทะเบียนรถ</h1>

<div class="text-center mt-4">
    <a href="/Management" class="btn btn-secondary">ย้อนกลับไปยังหน้า Management</a>
</div>